<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.CVMapper">
    <insert id="saveCV">
        INSERT into T_CV(CV_ID, CV_UNAME, CV_SEX, CV_BIRTH, CV_BP, CV_EDU, CV_MAJOR, CV_EMAIL,
        CV_PHONE, CV_SCHOOL, CV_HOBG, CV_SELFEVAL, CV_UID, CV_CVNAME,CV_CARDNO,CV_SKILL,CV_ZP) VALUES
        (SEQ_T_CV.nextval,#{uname},#{sex},#{birth},#{bp},#{edu},#{major},#{email},#{phone},#{school},
        #{hobg},#{selfeval},#{user.id},#{cvname},#{cardno},#{skill},#{zp})
    </insert>
    <update id="updateCV">
        UPDATE T_CV SET CV_UNAME=#{uname},CV_SEX=#{sex},CV_BIRTH=#{birth},CV_BP=#{bp},CV_EDU=#{edu},
        CV_MAJOR=#{major},CV_EMAIL=#{email},CV_PHONE=#{phone},CV_SCHOOL=#{school},CV_HOBG=#{hobg}
         ,CV_SELFEVAL=#{selfeval},CV_CVNAME=#{cvname},CV_CARDNO=#{cardno},
         CV_SKILL=#{skill},CV_ZP=#{zp} where CV_ID=#{id}
    </update>
    <delete id="deleteCVByCVid">
        DELETE FROM T_CV where CV_ID=#{CVid}
    </delete>
    <select id="getCVByUid" resultMap="cvMap">
        SELECT * from T_CV cv,T_USER u where CV_UID=#{uid} AND CV_UID=U_ID
    </select>
    <select id="getCVByUidAndPage" resultMap="cvMap">
        SELECT CV_ID,CV_UNAME,CV_SEX,CV_BIRTH,CV_BP,CV_EDU,CV_MAJOR,CV_EMAIL,CV_PHONE,CV_SCHOOL,CV_HOBG
         ,CV_SELFEVAL,CV_UID,CV_CVNAME,CV_CARDNO,CV_SKILL,CV_ZP,U_ID,U_NAME,U_PASS from (
        SELECT rownum rn,cv.* ,u.*from T_CV cv,T_USER u where CV_UID=#{0} AND CV_UID=U_ID)a
        where rn between #{1} and #{2}
    </select>
    <select id="getCVByCVid" resultMap="cvMap">
        SELECT * from T_CV cv,T_USER u where CV_ID=#{CVid} AND CV_UID=U_ID
    </select>

    <resultMap id="cvMap" type="com.iotek.model.CV">
        <id property="id" column="CV_ID"></id>
        <result property="uname" column="CV_UNAME"></result>
        <result property="sex" column="CV_SEX"></result>
        <result property="birth" column="CV_BIRTH"></result>
        <result property="bp" column="CV_BP"></result>
        <result property="edu" column="CV_EDU"></result>
        <result property="major" column="CV_MAJOR"></result>
        <result property="email" column="CV_EMAIL"></result>
        <result property="phone" column="CV_PHONE"></result>
        <result property="school" column="CV_SCHOOL"></result>
        <result property="hobg" column="CV_HOBG"></result>
        <result property="selfeval" column="CV_SELFEVAL"></result>
        <result property="cvname" column="CV_CVNAME"></result>
        <result property="cardno" column="CV_CARDNO"></result>
        <result property="zp" column="CV_ZP"></result>
        <result property="skill" column="CV_SKILL"></result>
        <association property="user" javaType="com.iotek.model.User">
            <id property="id" column="U_ID"></id>
            <result property="name" column="U_NAME"></result>
            <result property="pass" column="U_PASS"></result>
        </association>
    </resultMap>
</mapper>