<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.RecrMapper">
    <delete id="deleteRecrByRid">
        DELETE FROM T_RECR WHERE R_ID=#{rid}
    </delete>
    <select id="getRecrByState" resultMap="recrMap">
        SELECT * FROM T_RECR WHERE R_STATE=#{state}
    </select>
    <select id="getRecrByStateAndPage" resultMap="recrMap">
        SELECT R_ID,R_PID,R_DID,R_DESC,R_NUM,R_STATE,R_TIME FROM (
        SELECT rownum rn ,r.* from T_RECR r WHERE R_STATE=#{0})a
        where rn between #{1} and #{2}
    </select>
    <select id="getRecrByRid" resultMap="recrMap">
        SELECT * FROM T_RECR WHERE R_ID=#{rid}
    </select>
    <select id="getRecrByPage" resultMap="recrMap">
        SELECT R_ID,R_PID,R_DID,R_DESC,R_NUM,R_STATE,R_TIME FROM (
        SELECT rownum rn ,r.* from T_RECR r)a
        where rn between #{0} and #{1}
    </select>
    <select id="getRecr" resultMap="recrMap">
        SELECT * FROM T_RECR
    </select>

    <resultMap id="recrMap" type="com.iotek.model.Recr">
        <id property="id" column="R_ID"></id>
        <result property="desc" column="R_DESC"></result>
        <result property="num" column="R_NUM"></result>
        <result property="state" column="R_STATE"></result>
        <result property="time" column="R_TIME"></result>
        <association property="position" javaType="com.iotek.model.Position">
            <id property="id" column="P_ID"></id>
            <result property="pname" column="P_PNAME"></result>
            <result property="jsal" column="P_JSAL"></result>
            <result property="pf" column="P_PF"></result>
        </association>
        <association property="depa" javaType="com.iotek.model.Depa">
            <id property="id" column="D_ID"></id>
            <result property="dname" column="D_DNAME"></result>
            <result property="time" column="D_TIME"></result>
        </association>
    </resultMap>
</mapper>