<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.RecrMapper">
    <insert id="saveRecr">
        INSERT INTO T_RECR(R_ID, R_PID, R_DESC, R_NUM, R_STATE, R_TIME, R_DID) VALUES
        (SEQ_T_RECR.nextval,#{position.id},#{desc},#{num},#{state},sysdate,#{depa.id})
    </insert>
    <update id="updateRecr">
        UPDATE T_RECR set R_STATE=#{state},R_DESC=#{desc},R_NUM=#{num} where R_ID=#{id}
    </update>
    <delete id="deleteRecrByRid">
        DELETE FROM T_RECR WHERE R_ID=#{rid}
    </delete>
    <delete id="deleteRecrByDid">
        DELETE FROM T_RECR WHERE R_DID=#{did}
    </delete>
    <delete id="deleteRecrByPid">
        DELETE FROM T_RECR WHERE R_PID=#{pid}
    </delete>
    <select id="getRecrByState" resultMap="recrMap">
        SELECT * FROM T_RECR r,T_POSITION p,T_DEPA d WHERE R_STATE=#{state}
        and R_PID=P_ID AND R_DID=D_ID
    </select>
    <select id="getRecrByStateAndPage" resultMap="recrMap">
        SELECT R_ID,R_PID,R_DID,R_DESC,R_NUM,R_STATE,R_TIME,P_PNAME,D_DNAME,P_JSAL FROM (
        SELECT rownum rn ,r.* ,p.*,d.*from T_RECR r,T_POSITION p,T_DEPA d WHERE R_STATE=#{0}
        and R_PID=P_ID AND R_DID=D_ID)a
        where rn between #{1} and #{2}
    </select>
    <select id="getRecrByRid" resultMap="recrMap">
        SELECT * FROM T_RECR r,T_POSITION p,T_DEPA d WHERE R_ID=#{rid}
        and R_PID=P_ID AND R_DID=D_ID
    </select>
    <select id="getRecrByPage" resultMap="recrMap">
        SELECT R_ID,R_PID,R_DID,R_DESC,R_NUM,R_STATE,R_TIME,P_PNAME,D_DNAME,P_JSAL FROM (
        SELECT rownum rn ,r.* ,p.*,d.*from T_RECR r,T_POSITION p,T_DEPA d
        WHERE R_PID=P_ID AND R_DID=D_ID)a
        where rn between #{0} and #{1}
    </select>
    <select id="getRecr" resultMap="recrMap">
        SELECT * FROM T_RECR r,T_POSITION p,T_DEPA d WHERE R_PID=P_ID AND R_DID=D_ID
    </select>
    <select id="getRidByDid" resultMap="recrMap">
        SELECT R_ID FROM T_RECR WHERE R_DID=#{did}
    </select>

    <resultMap id="recrMap" type="com.iotek.model.Recr">
        <id property="id" column="R_ID"></id>
        <result property="desc" column="R_DESC"></result>
        <result property="num" column="R_NUM"></result>
        <result property="state" column="R_STATE"></result>
        <result property="time" column="R_TIME"></result>
        <association property="position" javaType="com.iotek.model.Position">
            <id property="id" column="P_ID"></id>
            <result property="pname" column="P_PNAME"></result>
            <result property="jsal" column="P_JSAL"></result>
            <result property="pf" column="P_PF"></result>
        </association>
        <association property="depa" javaType="com.iotek.model.Depa">
            <id property="id" column="D_ID"></id>
            <result property="dname" column="D_DNAME"></result>
            <result property="time" column="D_TIME"></result>
        </association>
    </resultMap>
</mapper>